<?xml version="1.0" encoding="UTF-8"?>
<!--
    Appender named "LOGSTASH" that sends the logs to a logstash instance in JSON format.
    The format and content of the logs respect their definition in the configured microservice specification.
    Note: If TLS is needed, please use logback-logstash-appender-tls.xml

    To work, the following property must be defined in the Spring environment:

        monitoring.logstash.url=127.0.0.1:5555

    On the logstash side, the following input configuration can be used:
        input {
            tcp {
                port => 12345
                codec => json
            }
        }
-->
<included>
    <springProperty name="service.name" source="spring.application.name" defaultValue="unknown"/>
    <springProperty name="service.version" source="spring.application.version" defaultValue="unknown"/>
    <springProperty name="enabled" source="monitoring.logstash.enabled"/>
    <springProperty name="logstash.url" source="monitoring.logstash.url" defaultValue="log-collector:5000"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="LOGSTASH" class="io.github.eipx.servicefoundation.commons.observability.appender.DisableableLogstashTcpSocketAppender">
        <enabled>${enabled}</enabled>
        <destination>${logstash.url}</destination>
        <ringBufferSize>16384</ringBufferSize>
        <writeBufferSize>0</writeBufferSize>
        <keepAliveDuration>10 seconds</keepAliveDuration>
        <reconnectionDelay>100</reconnectionDelay>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <mdc/>
                <context/>
                <version/>
                <pattern>
                    <pattern>
                        {
                        "service_name": "${service.name}",
                        "service_version": "${service.version}"
                        }
                    </pattern>
                </pattern>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
</included>
