<included>
    <springProperty name="file" source="monitoring.file.name" defaultValue="application"/>
    <springProperty name="enabled" source="monitoring.file.enabled"/>
    <springProperty name="log_dir" source="log-dir" defaultValue="logs"/>
    <springProperty name="max_files_number" source="monitoring.file.maximum.number" defaultValue="35"/>
    <appender name="FILE" class="io.github.eipx.servicefoundation.commons.observability.appender.DisableableRollingFileAppender">
        <enabled>${enabled}</enabled>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="io.github.eipx.servicefoundation.commons.observability.rolling.FixedWindowWithDateRollingPolicy">
            <fileNamePattern>${log_dir}/${file}-%d{yyyyMMdd-HHmmssSSS, UTC}.log</fileNamePattern>
            <maxHistory>${max_files_number}</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
            <checkIncrement>0millisecond</checkIncrement>
        </triggeringPolicy>
    </appender>
</included>
